<button type="button" class="btn btn-warning btn-xs edit-tag"><span class="glyphicon glyphicon-pencil" /></button>
<button type="button" class="btn btn-danger btn-xs remove-tag"><span class="glyphicon glyphicon-remove" /></button>
