<button type="button" class="btn btn-success btn-xs complete-todo"><span class="glyphicon glyphicon-ok" /></button>
<button type="button" class="btn btn-warning btn-xs edit-todo"><span class="glyphicon glyphicon-pencil" /></button>
<button type="button" class="btn btn-danger btn-xs remove-todo"><span class="glyphicon glyphicon-remove" /></button>
