<div role="form" class="well form-group">
  <label for="edit-{{primaryDescriptor}}" class="control-label">Edit {{type}}:</label>
  <input type="text" class="form-control" id="edit-{{primaryDescriptor}}" name="edit-{{primaryDescriptor}}" value="{{initialValue}}" />
  <button type="button" class="btn btn-default save">Save</button>
</div>
