{{> primary_descriptor }}
<div class="btn-group">
  <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
    <span class="caret" />
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    {{> details }}
  </ul>
</div>
{{> buttons }}
