<div>
  <h1>{{tabTitle}}</h1>
  <ul class="{{ulClass}}">
  </ul>
  <div id="{{createDivId}}" role="form" class="well form-group">
    <button type="button" class="btn btn-default" id="create">Create!</button>
  </div>
</div>
